<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Urkey.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Application Name -->
    <add key="AppName" value="UrKey Password Manager" />
    <!-- Application Version -->
    <add key="AppVersion" value="1.0.0" />
    <!-- Supported Languages: Arabic (ar), English (en) -->
    <add key="SupportedLanguages" value="ar,en" />
    <!-- Default Language -->
    <add key="DefaultLanguage" value="en" />
    <!-- Current Language (persisted) -->
    <add key="CurrentLanguage" value="en" />
  </appSettings>
  
<userSettings>
    <Urkey.WPF.Properties.Settings>
        <setting name="Theme" serializeAs="String">
            <value>Light</value>
        </setting>
        <setting name="Language" serializeAs="String">
            <value>en</value>
        </setting>
        <setting name="MasterPassword" serializeAs="String">
            <value />
        </setting>
    </Urkey.WPF.Properties.Settings>
  </userSettings>
</configuration>